@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-color: #222831;
  --sec-color: #393e46;
  --trd-color: #00adb5;
  --light-color: #05888f;
  --font-color: #eeeeee;
  --darker-font: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif, arial;
  color: var(--font-color);
}
body {
  background-color: var(--main-color);
}

font {
  color: inherit;
}

.container {
  width: 100%;
  height: 100%;

  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 5px;
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input:focus {
  outline: none;
}

.dark-mode {
  position: relative;
  border: 1px solid var(--font-color);
  height: 30px;
  width: 55px;
  border-radius: 19px;
  background-color: var(--font-color);
  cursor: pointer;
  margin: auto;
}

.dark-mode:hover::after {
  background-color: var(--light-color);
}

.dark-mode::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  background-color: var(--trd-color);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  transition: 0.3s;
}

.dark-clicked.dark-mode::after {
  left: 28px;
}

/* ----------------------------------------
 */
.underline-high,
.underline-low {
  font-size: 0.95rem;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.underline-low {
  color: #ccc;
}

.underline-low:hover {
  color: #fff;
}
.underline-high {
  color: #fff;
  font-size: 1rem;
}

.underline-high:hover {
  color: #ccc;
}
/* -------------------------------------------------------------------------------------------------- */

/* page content */

.main-wrapper {
  min-height: 100%;
  position: relative;
}

.main {
  display: grid;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  grid-template-columns: 250px 1fr;
  /* grid-template-rows: 1fr; */
  gap: 20px;
}

@media (max-width: 1100px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* header ----------------------------------------------- */

.header {
  padding: 20px 0px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .header {
    margin-bottom: 0px;
  }
}

.header ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px 1fr 100px 250px;
  align-items: center;
  justify-items: center;
  column-gap: 20px;
}

.header ul li {
  width: 100%;
}

.header-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  padding: 15px;
}

@media (max-width: 600px) {
  .header ul {
    display: grid;
    grid-template-columns: 100px 1fr 60px;
    grid-template-rows: 1fr 60px;
    gap: 20px;
  }
  .header-tabs {
    grid-area: 2/1/3/4;
    gap: 20px;
    font-size: 1.1rem;
    justify-content: start;
  }
}
.logo {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.8em;
  font-weight: 900;
  letter-spacing: -7px;
  cursor: pointer;
  color: transparent;
  background: linear-gradient(
    90deg,
    var(--font-color) 0% 40%,
    red 40% 51%,
    var(--font-color) 50%
  );
  background-size: 300% 100%;
  background-clip: text;
  transition: 0.6s;
  overflow: hidden;
}
.logo:hover {
  background-position: -102px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search input {
  appearance: none;
  width: 100%;
  height: 2.5em;
  border: none;
  padding: 5px 27px 5px 50px;
  border-radius: 25px;
  font-size: 1.1em;
  background: url("./images/Search.png") no-repeat scroll 16px, var(--trd-color);
  background-size: 22px;
  color: var(--main-color);
  opacity: 0.5;
  transition: 0.3s;
}

.search input::placeholder {
  color: var(--main-color);
  text-transform: capitalize;
}

.search:hover input {
  background: url("./images/Search.png") no-repeat scroll 16px, var(--trd-color);
  background-size: 22px;
  opacity: 1;
}

.search input:focus {
  opacity: 1;
}

.search-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60vw;
  gap: 5px;
  background-color: #222;
  bottom: 0;
  transform: translateY(calc(100% + 5px));
  border-radius: 5px;
  z-index: 1000;
}

.show-all-results,
.results-count {
  padding: 7px;
}

.show-all-results {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

.show-all-results:hover {
  transform: translateX(5px);
}

.result {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 5px;
  border-radius: inherit;
}

.result:hover {
  background-color: #555;
}

.result img {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.close-results {
  position: absolute;
  top: 3px;
  right: 9px;
  z-index: 1000;
  font-size: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

.close-results:hover {
  transform: scale(1.3);
  color: #222;
}

/* search of phones */

.search.small {
  background-color: #222;
  position: fixed;
  flex-direction: column;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  padding: 15px 0px;
}

.search.small input {
  width: calc(100% - 16px);
  height: 55px;
}

.small .search-results {
  margin-top: 20px;
  position: relative;
  padding: 5px;
  padding-bottom: 30px !important;
  width: 100%;
  overflow-y: scroll;
  transform: translateY(0);
}

.small .search-results::-webkit-scrollbar {
  width: 15px;
}

.small .search-results::-webkit-scrollbar-track {
  background: #222;
  border-radius: 7px;
  padding: 2px;
}
.small .search-results::-webkit-scrollbar-thumb {
  background: var(--light-color);
  border: 4px solid #222;
  border-radius: 7px;
}

.small .close-results {
  position: fixed;
  z-index: 10000;
  top: 17px;
  right: 15px;
}

/* content ------------------------------------------------ */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  flex-direction: column;
}

.games-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  width: 100%;
}

@media (max-width: 1413px) {
  .games-list {
    grid-template-columns: repeat(2, 450px);
  }
}
@media (max-width: 1250px) {
  .games-list {
    grid-template-columns: repeat(2, 350px);
  }
}

@media (max-width: 1100px) {
  .games-list {
    grid-template-columns: minmax(300px, 600px);
    padding: 5px;
  }
}

.game {
  position: relative;
}

.game-wrapper {
  background-color: var(--sec-color);
  border-radius: 14px;
  height: fit-content;
  overflow: hidden;

  width: 100%;
  transform: scale(1);
  transition: 0.3s;
}

.game-media {
  position: relative;
  height: 13rem;
  transition: 0.3s;
}

@media (max-width: 1413px) {
  .game-media {
    height: 15rem;
  }
}

@media (max-width: 1250px) {
  .game-media {
    height: 13rem;
  }
}

@media (max-width: 1100px) {
  .game-media {
    min-height: 150px;
    height: 100%;
    max-height: 20rem;
  }
}

.game-media:after {
  content: "";
  position: absolute;
  bottom: 28px;
  left: 29px;
  border: 13px solid transparent;
  border-left: 22px solid #eee;
  z-index: 5;
}
.game-media::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  bottom: 14px;
  left: 10px;
  background-color: #33333391;
  border-radius: 50%;
  z-index: 5;
}

.game-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  aspect-ratio: 6 / 3;
}

.game-video {
  position: absolute;
  width: 101%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: fill;
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
}
.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 8;
}

.spinner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3c0;
  border-top: 16px solid var(--main-color);
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.game-info {
  padding: 10px;
  padding-bottom: 15px;
}

.game-info h1 {
  font-size: 1.5rem;
  margin-bottom: 7px;
}

@media (max-width: 500px) {
  .game-info h1 {
    font-size: 1.3rem;
    margin-bottom: 7px;
  }
}

.game-info-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.platforms {
  margin-bottom: 10px;
}
.game-info .platforms span {
  margin-right: 5px;
}

.info-hidden-wrapper {
  display: none;
  opacity: 0;
  transition: 1s;
}

/* hover a game =------------------------------------------ */
.game.selected .info-hidden-wrapper {
  display: block;
  opacity: 1;
}

.game.selected .game-wrapper {
  transform: scale(1.02);
  z-index: 500;
}

.game.selected .game-wrapper {
  position: absolute;
}

.game.selected .game-video {
  z-index: 7;
  opacity: 1;
}
/* ------------------------------------------ */

.game-info-hidden {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 28px;
  transition: 0.3s;
  font-size: 0.9rem;
}

.game-info-hidden div {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 17px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.game-info-hidden div:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.add-fav-btn {
  appearance: none;
  background-color: var(--trd-color);
  color: var(--main-color);
  padding: 7px;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.add-fav-btn:hover {
  background-color: var(--light-color);
  color: var(--font-color);
}

.page-btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px;
  margin: 30px 0;
  height: 5.5rem;
}
.page-btns .btn {
  padding: 3px 7px;
  letter-spacing: 2.5px;
  font-weight: 700;
  font-size: 1.1rem;
  width: 100px;
  height: 100%;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: var(--trd-color);
  transition: 0.3s;
}

@media (max-width: 600px) {
  .page-btns {
    padding: 5px 0px;
    margin: 30px 0;
    justify-content: space-between;
    height: 3rem;
  }

  .page-btns .btn {
    font-size: 0.85rem;
    letter-spacing: 1px;
    width: 70px;
  }
}
@media (max-width: 431px) {
  .page-btns .btn {
    padding: 3px 2px;
    font-size: 0.9rem;
    letter-spacing: 0px;
    width: 60px;
  }
}

.page-btns .btn:hover {
  background-color: var(--light-color);
}

.page-btns .btn.disabled {
  cursor: initial;
  background-color: #222;
  color: #555;
}

.page-num {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--sec-color);
  padding: 7px;
  border-radius: 7px;
  height: 100%;
}
.page-num span {
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 7px;
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  .page-num {
    height: 2.5rem;
    padding: 2px;
  }

  .page-num span {
    padding: 7px 12px;
    margin-right: 5px;
    font-size: 0.89rem;
  }
}
@media (max-width: 431px) {
  .page-num span {
    padding: 4px 6px;
    margin-right: 4px;
    font-size: 0.9rem;
  }
}

.page-num span:hover {
  background-color: rgba(119, 119, 119, 0.219);
  border-radius: 7px;
}
.curr-page {
  background-color: #7777776c;
  border-radius: 7px;
}

.curr-page:hover {
  background-color: #7777776c !important;
}

/* game details ----------------------------------------------------------------- */

.curr-game-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 66vh;
  width: 100%;
  opacity: 0.45;
  z-index: -1000;
}

@media (max-width: 800px) {
  .curr-game-image {
    height: 40vh;
  }
}

.details {
  height: 100%;
}

.details-main {
  display: grid;
  grid-template-columns: minmax(400px, 600px) auto;
  gap: 50px;
  justify-content: center;
}

@media (max-width: 1170px) and (min-width: 1100px) {
  .details-main {
    grid-template-columns: 390px auto;
  }
}
@media (max-width: 900px) {
  .details-main {
    align-items: center;
    grid-template-columns: minmax(300px, 600px);
  }
}

/* details left */

.-left-head {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 5px;
}
.-left-head div {
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.-head-date {
  background-color: #fff;
  color: #000;
  padding: 2px 5px;
  border-radius: 7px;
  letter-spacing: 2px;
}

.-head-platforms span {
  margin-right: 8px;
  font-size: 1.2rem;
}
.-head-platforms span:last-child {
  margin-right: 0;
}

.-left-content h1 {
  font-size: 4.5rem;
  margin: 15px 0;
}

.-content-btns button {
  position: relative;
  appearance: none;
  padding: 5px 70px 5px 10px;
  font-size: 1rem;
  border: 1px solid #eee;
  background-color: transparent;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 5pxh;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 827px) {
  .-left-content h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 15px 0;
  }

  .-left-head {
    justify-content: center;
  }

  .-content-btns {
    text-align: center;
  }
}

.-content-btns button span {
  display: block;
  text-align: left;
  font-size: 0.85rem;
  margin-bottom: 5px;
  color: #ccc;
}

.-btns-icon svg {
  position: absolute;
  right: -15%;
  bottom: -20%;
  font-size: 3.5rem;
  transition: 0.3s;
}

.-content-btns button:hover svg {
  transform: rotate(-10deg);
  font-size: 4rem;
}

.-left-rate {
  width: 100%;
  margin-top: 25px;
}

.-rate-high {
  display: flex;
  gap: 10px;
}

.-high {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
}

.-high h1 {
  text-transform: capitalize;
  letter-spacing: 1px;
}

@media (max-width: 827px) {
  .-rate-high {
    flex-wrap: wrap;
    justify-content: center;
  }
  .-high h1 {
    font-size: 1.3rem !important;
  }
  .-high span {
    font-size: 0.8rem;
  }
}
@media (max-width: 427px) {
  .-high:first-child {
    width: 100%;
    align-items: center;
  }
}

.-high-title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3px;
}

.-high-title span {
  font-size: 1.4rem;
}

.top-rate {
  border-left: 1px solid #ccc;
  padding-left: 25px;
  margin-left: 7px;
  align-items: center;
}

@media (max-width: 427px) {
  .top-rate {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    margin-right: 5px;
  }
}

.top-rate h1 {
  font-size: 2rem;
}

.top-rate span {
  white-space: nowrap;
}

.-rate-percent {
  margin-top: 25px;
  width: 100%;
}

.percent-bar {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 7px;
}

.percent-bar div:first-child {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.percent-bar div:last-child {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.exceptional {
  background: linear-gradient(180deg, lightgreen, green);
}
.recommended {
  background: linear-gradient(180deg, lightblue, blue);
}
.meh {
  background: linear-gradient(180deg, lightyellow, yellow);
}
.skip {
  background: linear-gradient(180deg, orange, red);
}

.bar {
  position: relative;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.bar.hovered {
  box-shadow: 0px 0px 7px 1px #fff;
}

.bar span {
  position: absolute;
  font-size: 2rem;
  bottom: 5px;
  left: 5px;
}

.percent-bubbles {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}

.bubble {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 17px;
  border: 1px solid transparent;
}

.bubble.hovered {
  border: 1px solid #ccc;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.bubble h4 {
  text-transform: capitalize;
  font-size: 0.9rem;
}

.bubble-count {
  color: #aaa;
  font-size: 0.9rem;
}

/* about */

.-left-about {
  margin-top: 20px;
}

.about-head {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.about-head h2 {
  margin-bottom: 8px;
  font-size: 2.1rem;
}
.about-head p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  white-space: pre-wrap;
}

.about-head span {
  background-color: #fff;
  color: #000;
  width: fit-content;
  padding: 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.3s;
}

.about-head span:hover {
  background-color: #ccc;
}

.about-sections {
  display: flex;
  flex-wrap: wrap;
}

.about-section {
  width: 50%;
  margin-bottom: 20px;
  padding-right: 10px;
}

.about-section-full {
  width: 100%;
}

.about-section h4 {
  color: var(--darker-font);
  margin-bottom: 15px;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.about-section span {
  font-size: 0.9rem;
  text-transform: capitalize;
  margin-right: 5px;
}

.metascore {
  padding: 4px;
  border: 1px solid green;
  color: lightgreen;
  border-radius: 7px;
  font-size: 1.08rem;
}

/* details right */

.-main-right {
  width: 400px;
}

.right-media {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 100px 100px;
  gap: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 50px;
}

@media (max-width: 1170px) and (min-width: 1100px) {
  .-main-right {
    width: 375px;
  }
}

@media (max-width: 900px) {
  .-main-right {
    width: 100%;
  }

  .right-media {
    grid-template-rows: 300px 150px 150px;
  }
  .right-media span:last-child::after {
    top: 20px !important;
  }
}

@media (max-width: 535px) {
  .right-media {
    grid-template-rows: 200px 100px 100px;
  }
  .right-media span:last-child::after {
    top: 0px !important;
  }
}

.right-media span {
  border-radius: 12px;
  overflow: hidden;
}

.right-media img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}

.right-media img:hover {
  transform: scale(1.1);
}

.right-media span:first-child {
  grid-area: 1/1/2/3;
}

.right-media span:last-child {
  display: block;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.right-media span:last-child::before {
  position: absolute;
  content: "";
  width: 122%;
  height: 101%;
  top: 0;
  left: 0;
  background-color: #222;
  opacity: 0.75;
  transition: 0.3s;
}

.right-media span:last-child::after {
  position: absolute;
  content: ". . .";
  height: 100%;
  width: 100%;
  top: -5px;
  left: 0;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  letter-spacing: -5px;
  color: #eeeeee;
  transition: 0.3s;
}

.right-media span:last-child:hover:after {
  letter-spacing: 0px;
}

.right-media span:last-child:hover::before {
  opacity: 0.9;
}

/* images overlay */

.imgs-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  max-height: 100vh;
  background-color: black;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.close-overlay {
  align-self: flex-end;
  padding-right: 50px;
  padding-top: 20px;
}

@media (max-width: 972px) {
  .close-overlay {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
  }

  .imgs-overlay {
    justify-content: center;
  }
}

.close-overlay > div {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #222;
  overflow: hidden;
  cursor: pointer;
}

.close-overlay span {
  display: block;
  font-size: 4rem;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .close-overlay > div {
    width: 80px;
    height: 80px;
  }
  .close-overlay span {
    font-size: 6rem;
  }
}

.close-overlay > div:hover {
  background-color: #fff;
}

.close-overlay > div:hover span {
  color: #222;
}

.curr-img-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-btn {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
}

.left-btn {
  left: 0;
}
.right-btn {
  right: 0;
}

.right-btn span,
.left-btn span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  transition: 0.3s;
}

.right-btn span {
  right: 10%;
}
.left-btn span {
  left: 10%;
}

.right-btn span:hover,
.left-btn span:hover {
  color: black;
  background-color: #fff;
  transform: translateY(-50%) scale(1.1);
}

.curr-img {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curr-img img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .curr-img {
    width: 100%;
  }
}

.all-imgs {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  overflow-x: scroll;
}

.all-imgs::-webkit-scrollbar {
  display: none;
}

@media (max-width: 972px) {
  .all-imgs {
    display: none;
  }
}

.all-imgs img {
  width: 150px;
  margin-right: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
  border-radius: 7px;
}

.selected-img,
.all-imgs img:hover {
  opacity: 1 !important;
}

/* right stores */

.right-stores {
  margin-top: 50px;
}

.right-stores > h2 {
  color: var(--darker-font);
  margin-bottom: 25px;
  font-size: 1.3rem;
}

.stores-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.store {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  gap: 10px;
  background-color: var(--sec-color);
  width: calc(50% - 10px);
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 430px) {
  .stores-wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    /* row-gap: 20px; */
    /* gap: 0; */
  }

  .store {
    width: 100%;
  }
}

.store:hover {
  background-color: var(--font-color);
}

.store:hover h2,
.store:hover path {
  color: var(--sec-color);
}

.store path,
.store h2 {
  color: var(--darker-font);
}

.store h2 {
  font-size: 0.95rem;
}

/* developers */

.developers-container {
  margin-top: 40px;
  margin-right: 0;
  overflow: hidden;
}

.dev-count {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .dev-count {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.devs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dev-btns {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0px 30px;
}
@media (max-width: 767px) {
  .dev-btns {
    justify-content: space-around;
  }
}

.dev-right-btn,
.dev-left-btn {
  transition: 0.3s;
  cursor: pointer;
  padding: 2px 10px;
}

.dev-right-btn:hover {
  animation: rightBounce 0.5s infinite ease-in-out alternate;
}
.dev-left-btn:hover {
  animation: leftBounce 0.5s infinite ease-in-out alternate;
}
@keyframes leftBounce {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-10px);
  }
}
@keyframes rightBounce {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}

.developers {
  margin: auto;
  max-width: calc(315px * 3 + 30px);
  overflow-x: scroll;
}

.developers::-webkit-scrollbar {
  height: 7px;
}

.developers::-webkit-scrollbar-track {
  background: var(--main-color);
  border-radius: 7px;
  padding: 2px;
}
.developers::-webkit-scrollbar-thumb {
  background: var(--light-color);
  border-radius: 7px;
}

@media (max-width: 1300px) {
  .developers {
    max-width: calc(315px * 2 + 30px);
  }
}

@media (max-width: 767px) {
  .developers {
    max-width: 315px;
  }
}

.dev-wrapper {
  padding: 15px 0px;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  width: fit-content;
  transition: 0.3s;
}

.dev {
  display: block;
  width: 315px;
  height: 410px;
  padding: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}

.dev-main {
  text-align: center;
}

.dev-main h3 {
  border-bottom: 1px solid #fff;
  margin-bottom: 3px;
  letter-spacing: 1px;
}

.dev-positions span {
  text-transform: capitalize;
  font-size: 0.9rem;
}

.dev-main img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.dev-extra {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dev-extra span {
  color: var(--darker-font);
}

.dev-know-for {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #777;
  padding-bottom: 7px;
  font-size: 0.9rem;
}

.dev-games {
  width: 100%;
}

.dev-game {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.9rem;
}

.dev-game h4 {
  text-decoration: underline;
  font-weight: 400;
}
/* sidebar ----------------------------------------------------------------------------- */

.sidebar {
  display: block;
  position: relative;
}

@media (max-width: 1100px) {
  .sidebar {
    display: none;
  }
}

.side-list {
  height: 100vh;
  position: sticky;
  top: 0;
  border: 1px solid red;
  overflow-y: scroll;
}

.side-list::-webkit-scrollbar {
  display: none;
}

/* footer-------------------------------------- */
footer {
  background-color: var(--light-color);
  padding: 20px;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
